{
  "openapi": "3.0.3",
  "info": {
    "title": "Capitu API",
    "description": "API v1 da plataforma Capitu — gerenciamento de usuários, autenticação, livros e recomendações personalizadas.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.capitu.app/v1/api",
      "description": "Servidor principal (produção)"
    },
    {
      "url": "http://localhost:8080/v1/api",
      "description": "Servidor local (desenvolvimento)"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Registrar novo usuário",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" },
              "example": {
                "name": "Jonathan Pereira",
                "email": "jonathan@email.com",
                "password": "senha123"
              }
            }
          }
        },
        "responses": {
          "201": { 
            "description": "Usuário registrado com sucesso",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          },
          "400": { "description": "Dados inválidos" },
          "409": { "description": "E-mail já registrado" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Autenticar usuário",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" },
              "example": {
                "email": "jonathan@email.com",
                "password": "senha123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login bem-sucedido",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" },
                "example": {
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "user": {
                    "id": 1,
                    "name": "Jonathan Pereira",
                    "email": "jonathan@email.com"
                  }
                }
              }
            }
          },
          "401": { "description": "Credenciais inválidas" }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "summary": "Solicitar redefinição de senha",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ForgotPasswordRequest" },
              "example": { "email": "usuario@email.com" }
            }
          }
        },
        "responses": {
          "200": { 
            "description": "Se o e-mail existir, você receberá instruções para resetar a senha",
            "content": {
              "application/json": {
                "example": { "message": "Se o e-mail existir, você receberá instruções para resetar a senha." }
              }
            }
          }
        }
      }
    },
    "/auth/verify-reset-token": {
      "post": {
        "summary": "Verificar validade do token de redefinição",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyTokenRequest" },
              "example": { "token": "abc123" }
            }
          }
        },
        "responses": {
          "200": { 
            "description": "Token válido",
            "content": {
              "application/json": {
                "example": { "message": "Código válido" }
              }
            }
          },
          "400": { "description": "Token inválido ou expirado" }
        }
      }
    },
    "/auth/delete-account": {
      "delete": {
        "summary": "Deletar conta do usuário autenticado",
        "tags": ["Autenticação"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeleteAccountRequest" },
              "example": { "password": "minhasenha123" }
            }
          }
        },
        "responses": {
          "200": { 
            "description": "Usuário deletado com sucesso",
            "content": {
              "application/json": {
                "example": { "message": "Usuário deletado com sucesso" }
              }
            }
          },
          "401": { "description": "Usuário não autenticado ou senha incorreta" },
          "400": { "description": "Dados inválidos" }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "summary": "Redefinir senha",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordRequest" },
              "example": {
                "token": "abc123",
                "newPassword": "novaSenha123"
              }
            }
          }
        },
        "responses": {
          "200": { 
            "description": "Senha redefinida com sucesso",
            "content": {
              "application/json": {
                "example": { "message": "Senha redefinida com sucesso" }
              }
            }
          },
          "400": { "description": "Token inválido ou expirado" }
        }
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Obter informações do perfil autenticado",
        "tags": ["Usuário"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Perfil retornado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" }
              }
            }
          },
          "401": { "description": "Não autenticado" }
        }
      }
    },
    "/books/search": {
      "get": {
        "summary": "Pesquisar livros",
        "tags": ["Livros"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Título ou autor para busca"
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados da busca",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BookResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/books": {
      "post": {
        "summary": "Adicionar livro à biblioteca do usuário",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BookRequest" },
              "example": {
                "title": "Dom Casmurro",
                "author": "Machado de Assis",
                "readingStatus": "READING"
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Livro adicionado com sucesso" },
          "400": { "description": "Dados inválidos" },
          "401": { "description": "Token ausente ou inválido" }
        }
      }
    },
    "/books/status": {
      "patch": {
        "summary": "Atualizar status de leitura",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "bookId": 1,
                "readingStatus": "COMPLETED"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Status atualizado" },
          "404": { "description": "Livro não encontrado" }
        }
      }
    },
    "/books/favorite": {
      "patch": {
        "summary": "Marcar ou desmarcar livro como favorito",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": { "bookId": 1, "isFavorite": true }
            }
          }
        },
        "responses": {
          "200": { "description": "Favorito atualizado" },
          "404": { "description": "Livro não encontrado" }
        }
      }
    },
    "/books/remove": {
    "delete": {
      "summary": "Remover livro da biblioteca do usuário",
      "tags": ["Livros"],
      "security": [{ "bearerAuth": [] }],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "bookId": { "type": "integer", "example": 10 },
                "userId": { "type": "integer", "example": 1 }
              },
              "required": ["bookId", "userId"]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Livro removido com sucesso",
          "content": {
            "application/json": {
              "example": { "message": "Livro removido com sucesso!" }
            }
          }
        },
        "400": { "description": "Campos obrigatórios ausentes" },
        "404": { "description": "Livro não encontrado ou não pertence ao usuário" },
        "500": { "description": "Erro ao remover livro" }
      }
    }
  },
    "/books/user/{userId}": {
      "get": {
        "summary": "Listar livros de um usuário",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de livros do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BookResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/favorites/{userId}": {
      "get": {
        "summary": "Listar livros favoritos do usuário",
        "tags": ["Favoritos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de livros favoritos do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FavoriteBookResponse" }
                }
              }
            }
          },
          "401": { "description": "Não autenticado" },
          "403": { "description": "Acesso negado" }
        }
      },
      "post": {
        "summary": "Adicionar livro aos favoritos",
        "tags": ["Favoritos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddFavoriteRequest" },
              "example": {
                "title": "Dom Casmurro",
                "author": "Machado de Assis",
                "googleBookId": "abc123xyz"
              }
            }
          }
        },
        "responses": {
          "201": { 
            "description": "Livro adicionado aos favoritos",
            "content": {
              "application/json": {
                "example": { "message": "Livro adicionado aos favoritos!" }
              }
            }
          },
          "400": { "description": "Dados inválidos" },
          "401": { "description": "Não autenticado" }
        }
      }
    },
    "/favorites/{userId}/{favoriteId}": {
      "delete": {
        "summary": "Remover livro dos favoritos",
        "tags": ["Favoritos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "favoriteId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { 
            "description": "Livro removido dos favoritos",
            "content": {
              "application/json": {
                "example": { "message": "Livro removido dos favoritos!" }
              }
            }
          },
          "404": { "description": "Favorito não encontrado" },
          "401": { "description": "Não autenticado" }
        }
      }
    },
    "/favorites/{userId}/check": {
      "post": {
        "summary": "Verificar se livro é favorito",
        "tags": ["Favoritos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CheckFavoriteRequest" },
              "example": { "googleBookId": "abc123xyz" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status do favorito",
            "content": {
              "application/json": {
                "example": { "isFavorite": true, "favoriteId": 5 }
              }
            }
          },
          "401": { "description": "Não autenticado" }
        }
      }
    },
    "/favorites/{userId}/by-google-id": {
      "delete": {
        "summary": "Remover livro dos favoritos por Google Book ID",
        "tags": ["Favoritos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RemoveFavoriteByGoogleIdRequest" },
              "example": { "googleBookId": "abc123xyz" }
            }
          }
        },
        "responses": {
          "200": { 
            "description": "Livro removido dos favoritos",
            "content": {
              "application/json": {
                "example": { "message": "Livro removido dos favoritos!" }
              }
            }
          },
          "404": { "description": "Favorito não encontrado" },
          "401": { "description": "Não autenticado" }
        }
      }
    },
    "/recommendations/user/{userId}": {
      "get": {
        "summary": "Obter recomendações de leitura",
        "tags": ["Recomendações"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Recomendações retornadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BookResponse" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" }
        },
        "required": ["name", "email", "password"]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" }
        },
        "required": ["email", "password"]
      },
      "ForgotPasswordRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" }
        },
        "required": ["email"]
      },
      "ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "newPassword": { "type": "string", "format": "password" }
        },
        "required": ["token", "newPassword"]
      },
      "VerifyTokenRequest": {
        "type": "object",
        "properties": {
          "token": { "type": "string" }
        },
        "required": ["token"]
      },
      "DeleteAccountRequest": {
        "type": "object",
        "properties": {
          "password": { "type": "string", "format": "password" }
        },
        "required": ["password"]
      },
      "AddFavoriteRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "author": { "type": "string" },
          "googleBookId": { "type": "string" }
        },
        "required": ["title", "author", "googleBookId"]
      },
      "CheckFavoriteRequest": {
        "type": "object",
        "properties": {
          "googleBookId": { "type": "string" }
        },
        "required": ["googleBookId"]
      },
      "RemoveFavoriteByGoogleIdRequest": {
        "type": "object",
        "properties": {
          "googleBookId": { "type": "string" }
        },
        "required": ["googleBookId"]
      },
      "FavoriteBookResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "author": { "type": "string" },
          "googleBookId": { "type": "string" },
          "userId": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "BookRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "author": { "type": "string" },
          "readingStatus": {
            "type": "string",
            "enum": ["TO_READ", "READING", "COMPLETED"]
          },
          "isFavorite": { "type": "boolean" }
        },
        "required": ["title", "author"]
      },
      "BookResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "author": { "type": "string" },
          "readingStatus": {
            "type": "string",
            "enum": ["TO_READ", "READING", "COMPLETED"]
          },
          "isFavorite": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "userId": { "type": "integer" }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "user": { "$ref": "#/components/schemas/UserResponse" }
        },
        "required": ["token", "user"]
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
