{
  "openapi": "3.0.3",
  "info": {
    "title": "Capitu API",
    "description": "API v1 da plataforma Capitu — gerenciamento de usuários, autenticação, livros e recomendações personalizadas.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.capitu.app/v1/api",
      "description": "Servidor principal (produção)"
    },
    {
      "url": "http://localhost:8080/v1/api",
      "description": "Servidor local (desenvolvimento)"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Registrar novo usuário",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" },
              "example": {
                "name": "Jonathan Pereira",
                "email": "jonathan@email.com",
                "password": "senha123"
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Usuário registrado com sucesso" },
          "400": { "description": "Dados inválidos" },
          "409": { "description": "E-mail já registrado" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Autenticar usuário",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" },
              "example": {
                "email": "jonathan@email.com",
                "password": "senha123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login bem-sucedido",
            "content": {
              "application/json": {
                "example": {
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "user": {
                    "id": 1,
                    "name": "Jonathan Pereira",
                    "email": "jonathan@email.com"
                  }
                }
              }
            }
          },
          "401": { "description": "Credenciais inválidas" }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "summary": "Solicitar redefinição de senha",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ForgotPasswordRequest" },
              "example": { "email": "usuario@email.com" }
            }
          }
        },
        "responses": {
          "200": { "description": "E-mail de redefinição enviado" },
          "404": { "description": "Usuário não encontrado" }
        }
      }
    },
    "/auth/verify-reset-token": {
      "get": {
        "summary": "Verificar validade do token de redefinição",
        "tags": ["Autenticação"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Token válido" },
          "400": { "description": "Token inválido ou expirado" }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "summary": "Redefinir senha",
        "tags": ["Autenticação"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordRequest" },
              "example": {
                "token": "abc123",
                "newPassword": "novaSenha123"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Senha redefinida com sucesso" },
          "400": { "description": "Token inválido ou expirado" }
        }
      }
    },
    "/books/search": {
      "get": {
        "summary": "Pesquisar livros",
        "tags": ["Livros"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Título ou autor para busca"
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados da busca",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BookResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/books": {
      "post": {
        "summary": "Adicionar livro à biblioteca do usuário",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BookRequest" },
              "example": {
                "title": "Dom Casmurro",
                "author": "Machado de Assis",
                "readingStatus": "READING"
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Livro adicionado com sucesso" },
          "400": { "description": "Dados inválidos" },
          "401": { "description": "Token ausente ou inválido" }
        }
      }
    },
    "/books/status": {
      "patch": {
        "summary": "Atualizar status de leitura",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "bookId": 1,
                "readingStatus": "COMPLETED"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Status atualizado" },
          "404": { "description": "Livro não encontrado" }
        }
      }
    },
    "/books/favorite": {
      "patch": {
        "summary": "Marcar ou desmarcar livro como favorito",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": { "bookId": 1, "isFavorite": true }
            }
          }
        },
        "responses": {
          "200": { "description": "Favorito atualizado" },
          "404": { "description": "Livro não encontrado" }
        }
      }
    },
    "/books/user/{userId}": {
      "get": {
        "summary": "Listar livros de um usuário",
        "tags": ["Livros"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de livros do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BookResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Obter informações do perfil autenticado",
        "tags": ["Usuário"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Perfil retornado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" }
              }
            }
          },
          "401": { "description": "Não autenticado" }
        }
      }
    },
    "/recommendations/user/{userId}": {
      "get": {
        "summary": "Obter recomendações de leitura",
        "tags": ["Recomendações"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Recomendações retornadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/BookResponse" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" }
        },
        "required": ["name", "email", "password"]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" }
        },
        "required": ["email", "password"]
      },
      "ForgotPasswordRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" }
        },
        "required": ["email"]
      },
      "ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "newPassword": { "type": "string", "format": "password" }
        },
        "required": ["token", "newPassword"]
      },
      "BookRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "author": { "type": "string" },
          "readingStatus": {
            "type": "string",
            "enum": ["TO_READ", "READING", "COMPLETED"]
          },
          "isFavorite": { "type": "boolean" }
        },
        "required": ["title", "author"]
      },
      "BookResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "author": { "type": "string" },
          "readingStatus": {
            "type": "string",
            "enum": ["TO_READ", "READING", "COMPLETED"]
          },
          "isFavorite": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "userId": { "type": "integer" }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string" }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
